DISCORD_TOKEN=PASTE_BOT_TOKEN_HERE
CLIENT_ID=PASTE_APPLICATION_ID_HERE
MONGODB_URI=PASTE_MONGODB_CONNECTION_STRING_HERE
PREFIX=+
OWNER_IDS=YOUR_DISCORD_USER_ID
DEV_GUILD_ID=
EXTERNAL_BOT_DETECTOR_URL=
EXTERNAL_BOT_DETECTOR_KEY=
